# ~/.config/chezmoi/chezmoi.toml
[data]
    name = "0xhsn"
    email = "mail@7asan.io"
    signingkey = "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIOS8eTAe7RP1SjpVBOFt9mlxvJofkKhFCXxcidu9Fx2G"

[git]
    autoCommit = true
    autoPush = false 