{{ if eq .chezmoi.os "darwin" -}}
Include ~/.orbstack/ssh/config

# Default settings for all hosts
Host *
    IdentityAgent "~/Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock"
    ServerAliveInterval 60
    ServerAliveCountMax 2
    AddKeysToAgent yes
    HashKnownHosts yes
{{- end }} 