{{ if eq .chezmoi.os "darwin" -}}
Include ~/.orbstack/ssh/config

Host *
    IdentityAgent "~/Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock"
    ServerAliveInterval 60
    ServerAliveCountMax 2
    AddKeysToAgent yes
    HashKnownHosts yes
{{ else -}}
Host *
    ServerAliveInterval 60
    ServerAliveCountMax 2
    AddKeysToAgent yes
    HashKnownHosts yes
{{- end }}

Host esxi
    HostName <esxi-ip>
    User root

Host k
    HostName <kali-ip>
    User <user>
    DynamicForward 9090
    LocalForward 3390 <rdp-target-ip>:3389
    ForwardX11 yes
    ForwardX11Trusted yes
    XAuthLocation /opt/X11/bin/xauth

Host wifilab
    HostName <wifilab-ip>
    User user

Host sift
    HostName <sift-ip>
    User sansforensics
